<!DOCTYPE html>
<html>
<head>
<title>Index Page</title>
</head>
<body>

<h1>This is the Home Page</h1>
<p>This is a paragraph.</p>

</body>
</html>

<form action="/api/random199" method="get">
    <input type="submit" value="Generate 199 random passengers">
</form>
<form action="/api/user/pref" method="get">
    <input type="submit" value="Input one preference">
</form>
<form action="/api/user/feedback" method="get">
    <input type="submit" value="Input one feedback">
</form>
<form action="/api/result" method="get">
    <input type="submit" value="See the result">
</form>
