<form action="/api/user/_pref" method="get">
    <label for="Name">Name: </label>
    <input id="Name" type="text" name="Name"><br>
    <label for="Window">Window: </label>
    <input id="Window" type="text" name="Window"><br>
    <label for="Sleep">Sleep: </label>
    <input id="Sleep" type="text" name="Sleep"><br>
    <label for="Networking">Networking: </label>
    <input id="Networking" type="text" name="Networking"><br>
    <label for="WindowShading">WindowShading: </label>
    <input id="WindowShading" type="text" name="WindowShading"><br>
    <input type="submit" value="OK">
</form>